.header {
  background-color: #39788a; 
  color: #fff; 
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center; 
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.nav-links li a:hover {
  color: #52cbad; 
}

.logo-image {
  width: 75px;
  height: auto; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

