.night-pharmacy-location .modal-title{
    width:100% !important;
}

.title{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #b51c1c;
    cursor: pointer;
    display: -webkit-box;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .023em;
    line-height: 19px;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
